body{
    background-color: red;
    
}

h1{
    text-align: center;
    border-color: blue;
    margin: 10px;
}

ul{
    border-style: solid;
    text-align: center;
}

.header{
    width: 100%;
    height: 80px;
    background-color: white;
    display: block;
}

#firstimage img{
    margin-left: auto;
    margin-right: auto;
    display: block;

}